[submodule "CNEngine/vendor/spdlog"]
	path = CNEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "CNEngine/vendor/GLFW"]
	path = CNEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "CNEngine/vendor/imgui"]
	path = CNEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
